<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">

    <!-- wp:pattern {"slug":"loftwood/hero-home"} /-->
    <!-- wp:pattern {"slug":"loftwood/section-programmes"} /-->
    <!-- wp:pattern {"slug":"loftwood/section-brand"} /-->
    <!-- wp:pattern {"slug":"loftwood/section-key-figures"} /-->
    <!-- wp:pattern {"slug":"loftwood/section-testimonials"} /-->
    <!-- wp:pattern {"slug":"loftwood/section-timeline"} /-->
    <!-- wp:pattern {"slug":"loftwood/section-latest-news"} /-->
    <!-- wp:pattern {"slug":"loftwood/section-land-sale"} /-->
    <!-- wp:pattern {"slug":"loftwood/section-cta-contact"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
