<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"pt-24","layout":{"type":"constrained","contentSize":"800px"}} -->
<main class="wp-block-group pt-24">
    <!-- wp:group {"className":"mb-8"} -->
    <div class="wp-block-group mb-8">
        <!-- wp:post-title {"level":1,"className":"font-montserrat"} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"loftwood/section-cta-contact"} /-->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
