<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:pattern {"slug":"loftwood/breadcrumbs"} /-->

<!-- wp:group {"tagName":"main","className":"pb-16","layout":{"type":"constrained","contentSize":"800px"}} -->
<main class="wp-block-group pb-16">
    <!-- wp:group {"className":"mb-8"} -->
    <div class="wp-block-group mb-8">
        <!-- wp:post-title {"level":1,"className":"section-title-serif text-4xl lg:text-5xl"} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"loftwood/section-cta-contact"} /-->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
